{# templates/panier/compteur.html.twig #}
{# j'ai ajouter ici l icon avec le compteur j'ai créer un autre twig pour recupérer le nombre et l'afficher  #}	  
<span class="icon-shopping_cart"></span>[{{ nombreArticlesDansPanier }}]
