{% block body %}

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Connexion</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../../vendors/feather/feather.css">
		<link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
		<link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
		<!-- endinject -->
		<!-- Plugin css for this page -->
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<link
		rel="stylesheet" href="../../css/vertical-layout-light/style.css"> <!-- endinject -->
		<link rel="shortcut icon" href="../../images/trans_logo.png"/>

		<style>
			.inscri:hover {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div>
			<div>
				{% if error %}
					<div class="alert alert-danger" role="alert">
						Email ou mot de passe incorrect!
					</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="container-scroller">
					<div class="container-fluid page-body-wrapper full-page-wrapper">
						<div class="content-wrapper d-flex align-items-center auth px-0">
							<div class="row w-100 mx-0">
								<div class="col-lg-4 mx-auto">
									<div class="auth-form-light text-left py-5 px-4 px-sm-5">
										<div class="brand-logo" style="text-align:center; margin-top:-10px">
											<img src="../../images/trans_logo.png" alt="logo">
										</div>
										<div style="display: flex; justify-content:center; margin-top:-20px">
											<a style="margin-right: 80px; color:#56ab2f; font-weight:bold; text-decoration:underline">
												Se connecter</a>
											<a style="font-weight:bold;color:black" href="signup" class="inscri">
												S'inscrire</a>
										</div>
										<form class="pt-3" method="post">
											<div class="form-group">
												<input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" required autofocus>
											</div>
											<div class="form-group">
												<input type="password" name="mot_de_passe" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
											</div>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											<button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" value="submit" style="background-color:#56ab2f; border-color:#56ab2f">
												Connexion
											</button>
											<div class="my-2 d-flex justify-content-between align-items-center">
												<a href="#" class="auth-link text-black" style="color:#56ab2f;">Mot de passe oublié?</a>
												<div class="form-check form-check-success">
													<label class="form-check-label text-muted">
														<input type="checkbox" class="form-check-input">
														Restez connecté
													</label>
												</div>
											</div>
											<div style="display: flex; align-items: center; justify-content:center;">
												<hr style="width:100px; margin-right: 10px;">
												<p style="margin: 0;">OU</p>
												<hr style="width:100px; margin-left: 10px;">
											</div>
											<div class="mb-2">
												<button type="button" class="btn btn-block btn-google auth-form-btn">
													<i class="ti-google mr-2"></i>Se connecter avec Google
												</button>
											</div>
											<div class="text-center mt-4 font-weight-light">
												Vous n'avez pas de compte?
												<a href="signup" style="color:#56ab2f;">S'inscrire</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
					</div>
					<!-- page-body-wrapper ends -->
				</div>

			</div>

		</div>
	</body>
{% endblock %}
