
{% extends 'base_back.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ajouter un produit</h4>
            <p class="card-description">Please fill out the form below to add a new product.</p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Marque : </label>
                    <input type="text" name="marque" class="form-control" id="exampleInputName1" placeholder="Marque">
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Catégorie : </label>
                    <select class="form-control" name="categorie" id="exampleSelectGender">
                        <option>Fruit</option>
                        <option>Legume</option>
                        <option>Laitier</option>
                        <option>Grain</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Prix : </label>
                    <input type="text" name="prix" class="form-control" id="exampleInputName1" placeholder="Prix">
                </div>
                <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default" id="fileInput">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" id="imageName">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button" onclick="document.getElementById('fileInput').click()">Upload</button>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('fileInput').addEventListener('change', function() {
        var fileName = this.files[0].name;
        document.getElementById('imageName').value = fileName;
    });
</script>
{% endblock %}
