{% extends 'base.html.twig' %}


{% block body %}

    {# Formulaire pour créer un nouvel avis #}
    {{ form_start(form) }}
    {{ form_row(form.nb_etoiles, {'attr': {'class': 'rating form-control', 'style': 'border-color: black; border-width: 1px;'}}) }} 
    {{ form_row(form.commentaire) }}
    <br>
        <button type="submit" class="btn btn-primary  px-5">Soumettre</button>
    {{ form_end(form) }}

{% endblock %}