{% extends 'base.html.twig' %}

{% block title %}Modifier l'avis{% endblock %}

{% block body %}
    <h1>Modifier l'avis</h1>
    {{ form_start(form) }}
        {{ form_row(form.nb_etoiles) }}
        {{ form_row(form.commentaire) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}