{% extends 'base_accueil.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block profile %}
	{% if role == 'Client' %}
		href="{{ path('client_profile', {'id': userId}) }}"
	{% elseif role == 'Conseiller' %}
		href="{{ path('conseiller_profile', {'id': userId}) }}"
	{% endif %}
{% endblock %}


{% block dashboard %}
	{% if role == 'Admin' %}
		<li class="nav-item active dashboard-link-hidden">
			<a href="back" class="nav-link">Dashboard</a>
		</li>
	{% endif %}
{% endblock %}


{% block compteConseiller %}
	{% if role == 'Conseiller' %}
		<li class="nav-item">
			<a href="blog.html" class="nav-link">Conseil</a>
		</li>
		<li class="nav-item">
			<a href="contact.html" class="nav-link">FAQ</a>
		</li>
	{% endif %}
{% endblock %}
