{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur
{% endblock %}


{% block body %}
	<h2 style="margin: 0 auto; text-align: center;">
		Modifier un conseiller
	</h2>
	<div style="clear: both;">
	{{form(f)}}
	</div>
{% endblock %}