
<div style="text-align:center;">

<a target="_blank" href="https://viewstripo.email">
	<img src="https://eetnmyy.stripocdn.email/content/guids/CABINET_02d1bc47a643a3e7bfe02b0f41d6cb58a6c2703f13c0ecd11cddd42b47af504e/images/image.png" alt="Logo" height="80" title="Logo" class="adapt-img">
</a>
<p>Bonjour,</p>
<p>Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe :</p>
<a href="{{ url('app_reset_password', {'id': user.idUtilisateur}) }}" style="background-color: #4CAF50; color: white; padding: 14px 25px; text-align: center; text-decoration: none; display: inline-block;">Réinitialiser mon mot de passe</a>
</div>