
<p>Bonjour,</p>
<p>Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe :</p>
<a href="{{ url('app_reset_password', {'id': user.idUtilisateur}) }}" style="background-color: #4CAF50; color: white; padding: 14px 25px; text-align: center; text-decoration: none; display: inline-block;">Réinitialiser mon mot de passe</a>
