{% extends 'base_back.html.twig' %}

{% block title %}Hello ObjectifDashController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/sirin/OneDrive/Bureau/SmartFoody_symfony/Smart_Foody_23-24_Web/src/Controller/ObjectifDashController.php'|file_link(0) }}">src/Controller/ObjectifDashController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/sirin/OneDrive/Bureau/SmartFoody_symfony/Smart_Foody_23-24_Web/templates/objectif_dash/index.html.twig'|file_link(0) }}">templates/objectif_dash/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
